:root {
    --text-color-1: rgb(31, 23, 17)
}

.body {
    font-family: 'Montserrat';
    background-color: rgb(255, 249, 244);
    color: rgb(49, 44, 39);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================ */

.header {
    background: url(img/bg-header.png) 50% 100% / cover no-repeat;
}


.header__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.header__logo {
    max-width: 173px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4vh 40px;
    padding-bottom: 7px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: rgb(255, 165, 92);
    top: -8px;
    left: -13px;
    opacity: 0;
    transition: 0.5s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 100px;
    background: var(--text-color-1);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: 8px;
}

.burger-icon span::after {
    bottom: 8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}



/* ======================= */

.hero {
    padding: 50px 0 140px;
}

.hero__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__text {
    display: flex;
    max-width: 519px;
    flex-direction: column;
}

.start__info {
    color: rgb(177, 151, 179);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    width: 162px;
    gap: 10px;
    align-items: center;
}

.start {}

.ellipse {
    background: rgb(177, 151, 179);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.hero__title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    padding-top: 20px;
}

.hero__title-text {
    color: rgb(49, 44, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 30px;
    max-width: 358px;
    margin-bottom: 40px;
}

.btn {
    max-width: 358px;
    border-radius: 60px;
    background: rgb(255, 165, 92);
    text-align: center;
    padding: 23px 36px;
    transition: 0.5s;
    width: 100%;
}

.btn:hover {
    background-color: rgb(255, 145, 56);
}

.hero__img {
    padding-left: 104px;
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-girl {}

/* ===================== */
.hero__modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: auto;
    left: calc(100% - 39px);
    bottom: 11%;
    gap: 10px;
    text-align: left;
}

.hero__modal--mobile {
    display: none;
}

.hero__modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: rgb(255, 224, 203);
    border-radius: 50%;
    width: 79px;
    height: 78px;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    position: relative;
    z-index: 2;
}

.hero__modal-btn::before {
    content: '';
    position: absolute;
    border: 1px solid rgb(255, 165, 92);
    border-radius: 50%;
    inset: 5px;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
}

.hero__modal-btn:hover::before {
    opacity: 1;
}


.modal__btn-click {
    padding: 23px;
}

.modal__btn-icon {
    padding-left: 6px;
}

.hero__modal-text {
    color: rgb(49, 44, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 3px 0;
}

/* ============================ */
.about {
    padding: 140px 0 140px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 53px;
}

.about__img {

}

.about__img>img {
    object-fit: cover;
    object-position: 0 50%;
}

.about__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about__info-title {}

.about__info-title {}

.about__title {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
}

.about__title-text {
    padding-top: 30px;
    color: rgb(49, 44, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.about__info-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.info__content-block-wrapper {
    border-radius: 20px;
    background: rgb(255, 224, 203);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 296px;
    /* Максимальная ширина 296 пикселей */
    min-height: 130px;
    /* Минимальная высота 130 пикселей */
    padding: 16px;
    /* Добавим немного внутренних отступов */
}



.info__content-block {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(49, 44, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}



/* ============================ */
.footer {
    background: rgb(171, 130, 97);
    font-family: Montserrat;
    ;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 15px;
    padding: 30px 0 60px;
    color: rgb(255, 249, 244);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer__inner .footer__col:nth-child(2),
.footer__inner .footer__col:nth-child(3),
.footer__inner .footer__col:nth-child(4) {
    padding-top: 30px;
}

.footer__col:last-child {
    grid-column: span 1;
    justify-self: end;
}

.footer__col {
    display: flex;
    flex-direction: column;
}

.footer__col-socials {
    display: flex;
    gap: 15px;
    padding-top: 20px;
    transition: all .4s;
}

.socials__link:hover path {
    transition: all .4s;
    fill: rgb(255, 165, 92);
}

.footer__nav {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 15px;
}

.footer__nav-link {
    display: block;
    position: relative;
    z-index: 1;
}

.footer__nav-link::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: rgb(255, 165, 92);
    top: -14px;
    left: -13px;
    opacity: 0;
    transition: 0.5s;
}


.footer__nav-link:hover::before {
    opacity: 1;
}


.footer__col-worktime {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__inner .footer__col:nth-child(3) {
    gap: 10px;
}

.footer__feedback-number {
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    transition: all .4s;
}

.footer__feedback-number:hover {
    color: rgb(255, 165, 92);
}

.footer__reserved {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(222, 197, 177);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 47px;
}

/* ============================ */


/* ============================ */
/* ============================ */

@media (max-width: 1200px) {
    .hero__img {
        margin-right: 0;
        max-width: 377px;
    }

    .hero__modal {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ----------- */

    .footer__inner {
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }

    .footer__col:last-child {
        grid-column: 1 / -2;
    }

}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: rgb(255, 249, 244);
        font-size: 24px;
        display: none;
        transform: translateY(50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        padding: 26vh 15px 30px;
    }

    .body--opened-menu .nav {
        display: block;
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ---------- */

    .footer__inner {
        grid-template: none;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .footer__inner .footer__col:nth-child(2),
    .footer__inner .footer__col:nth-child(3),
    .footer__inner .footer__col:nth-child(4) {
        padding-top: 0;
    }

    .footer__inner .footer__col:nth-child(3) {
        padding-top: 60px;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footer__nav {
        margin: 0;
        align-items: center;
    }

    .footer__col:nth-child(3) {
        align-items: center;
    }

    .footer__col:last-child {
        justify-self: center;
    }
}

@media (max-width: 800px) {
    .hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__modal--mobile {
        display: flex;
        justify-content: left;
        margin: 0 0 30px;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 70px;
    }

    .hero__title {
        font-size: 12vw;
    }
}